@page "/DeleteDog"
@using System.Text;
@using AdoptionWebsiteTest.Models;
@using Microsoft.Data.SqlClient;
@using System;
@using System.Data;
@using System.Data.SqlClient;
@using System.Collections;

<h3>List of Available Dogs</h3>